
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 650px;
    width: 100%;
    background-color: #fff6f6;
    padding: 40px;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  }
  
  .title {
    font-size: 28px;
    color:  #d4501b;
    font-weight: 800;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color:  #d4501b;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color:  #d4501b;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(68, 65, 65, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }

  .signin a {
    color: #d4501b;
  }
  
  .signin a:hover {
    text-decoration: underline #b69f97a8;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 15px;
  }
  .flex label {
    flex: 1; /* Distribui o espaço igualmente entre os labels */
    display: flex;
    flex-direction: column;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(189, 45, 45, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  
  .form label .input:valid + span {
    color: rgb(219, 121, 8);
  }
  
  .submit {
    border: none;
    outline: none;
    background-color:#d4501b;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  .submit a {
    text-decoration: none; 
    color: white;          /* Define a cor do texto como branco */
    font-size: inherit;    /* Herda o tamanho da fonte do botão */
    font-weight: bold;     /* Deixa o texto em negrito */
}
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }