.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.form-outline .form-control:focus {
    box-shadow: 0 1px 0 0 #f96a2e; /* Sombra da borda */
    border-color: #f96a2e;         /* Cor da borda */
  }
  
  .form-outline .form-control:focus + .form-label {
    color: #f96a2e; /* Altera a cor do rótulo flutuante ao focar */
  }
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}