.container {
    margin-top: 30px;     /* adiciona margem no topo */
    margin-bottom: 50px;  /* adiciona margem no final  */
}

/* .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
} */
.card {
    width: 400px;               /* Largura fixa do card */
    height: 400px;              /* Altura fixa do card */
    overflow: hidden;           /* Impede que o conteúdo ultrapasse os limites do card */
    border: 1px solid #ddd;     /* Borda para demarcar o card */
    padding: 0;                 /* Remove o padding extra */
    display: flex;
    flex-direction: column;
}
.card-img-top {
    height: 350px;              /* Altura fixa para a imagem */
    width: 100%;                /* Largura da imagem igual à largura do contêiner */
    object-fit: contain;        /* A imagem será redimensionada para caber no contêiner sem ser cortada */
    /* object-fit: cover;  */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 10px;
    flex-grow: 1;               /* Faz com que o corpo do card ocupe o restante do espaço */
    overflow-y: auto;           /* Scroll vertical se necessário */
    max-height: 150px;          /* Limita a altura para comportar até 6 itens */
}

.card-body ul {
    padding-left: 20px;
    list-style-type: none;      /* Remove os marcadores da lista */
    margin: 0;                  /* Remove a margem padrão da lista */
}

.card-body ul li {
    margin-bottom: 5px;         /* Espaço entre os itens da lista */
    font-size: 14px;            /* Ajuste do tamanho da fonte */
}

