.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddcbcbd8;
    border-radius: 5px;
  }
  
  
  h3 {
    color: #333;
    text-align: center;
  }
  
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  
  .file-input {
    width: 100%; 
    padding: 20px;
    border: 2px dashed #d4501b; /* Borda pontilhada */
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease; 
    margin-top: 10px;
    box-sizing: border-box; 
  }
  
  
  .file-input::file-selector-button {
    background-color: #d4501b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  .file-input:hover {
    background-color: #e8f5e9; /* Muda a cor de fundo ao passar o mouse */
  }
  
  
  .file-input::file-selector-button:hover {
    background-color: #b44116; 
  }
  
  /* Estilo do botão de envio */
  .inpdddut[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d4501b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .inpdddut[type="submit"]:hover {
  background-color: #b44116; 
  }
  .preview-container img {
    max-width: 100%;     /* A imagem não será maior do que o contêiner */
    height: auto;        /* Mantém a proporção original da imagem */
    max-height: 500px;   /* Limita a altura máxima */
    margin: 10px auto;   /* Adiciona espaço entre as imagens */
    border-radius: 5px;
  }
  

  
      