{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='cad.css') }}">
{% endblock %}
<body>
    {% block content %}
    <form class="form" method="post">
        <p class="title">Cadastro </p>
        <p class="message">Cadastre-se agora e tenha acesso ao Site. </p>
            <div class="flex">
            <label>
                <input class="input" type="text" name="nome" placeholder="" required="">
                <span>Nome</span>
            </label>
    
            <label>
                <input class="input" type="text" name="sobrenome" placeholder="" required="">
                <span>Sobrenome</span>
            </label>
        </div>
        <label>
            <input class="input" type="text" name="cpf" placeholder="" required="" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}">
            <span>CPF</span>
        </label> 

        <label>
            <input class="input" type="text" name="telefone" placeholder="" required="" pattern="\(\d{2}\) \d{5}-\d{4}">
            <span>Telefone</span>
        </label>   
                
        <label>
            <input class="input" type="email" name="email" placeholder="" required="">
            <span>Email</span>
        </label> 
            
        <label>
            <input class="input" type="password" name="senha" placeholder="" required="">
            <span>Senha</span>
        </label>
        <label>
            <input class="input" type="password" name="confirmar_senha" placeholder="" required="">
            <span>Confirmar Senha</span>
        </label>
        <button class="submit">Enviar</button>
        
        <p class="signin">Já tem uma conta? <a href="{{ url_for('index') }}">Entrar</a> </p>
     
</body>
</form>
</html>
{% endblock %}

    
    
