{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
{% endblock %}
<body>
   {% block content %}
   <h3>Upload de Arquivos</h3>
   <hr>

   <div class="container">
       <form method="POST" enctype="multipart/form-data">
           <label for="arquivo">Selecionar arquivos:</label>
           
           <input 
               type="file" 
               name="arquivos" 
               class="file-input" 
               accept="image/png, image/jpeg, image/jpg, video/mp4" 
               multiple 
           />
           <input value="Enviar" type="submit" class="inpdddut">
       </form>
   </div>

   {% if file_urls %}
   <div class="preview-container">
       {% for file_url in file_urls %}
           {% if file_url.endswith('.mp4') %}
               <video controls width="640" height="360">
                   <source src="{{ file_url }}" type="video/mp4">
                   Seu navegador não suporta vídeos.
               </video>
           {% else %}
               <img src="{{ file_url }}"  alt="Arquivo carregado">
               
           {% endif %}
           
       {% endfor %}
   </div>
   
   {% endif %}

   {% endblock %}
</body>
</html>
