<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='upload.css') }}">
</head>
<body>
    <h1>Upload de Arquivos</h1>
    <hr>

    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            <label for="arquivo">Selecionar arquivos:</label>
            <input 
                type="file" 
                name="arquivos" 
                class="file-input" 
                accept="image/png, image/jpeg, image/jpg, video/mp4" 
                multiple 
            />
            <input value="Enviar" type="submit" class="inpdddut">
        </form>
    </div>

    {% if file_urls %}
    <div class="preview-container">
        {% for file_url in file_urls %}
            {% if file_url.endswith('.mp4') %}
                <video controls>
                    <source src="{{ file_url }}" type="video/mp4">
                    Seu navegador não suporta vídeos.
                </video>
            {% else %}
                <img src="{{ file_url }}" alt="Arquivo carregado">
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</body>
</html>
